.Register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2196f3;
}

.Register button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 10px;
}

.regInit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #444444;
  cursor: pointer;
}
